/* style file for all webpages */

/* general font size, font color, font, background-color etc */




/* header & navigation bar */
#logo {
    background-image: url(../img/logo.png);
    height: 30px;
    width: 30px;
    background-size: contain;
}

#website-name {
    font-weight: bolder;
}

#nav-bar {
    padding: 50px;
}

#website-name {
    margin-bottom: 0;
}